# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# BackstopJS Test Data
**/bitmaps_reference/**
**/bitmaps_test/**

# BackstopJS Project Data
projects/*

# BackstopJS Final Report Data
final_report/json/jsonFinalReport.json
final_report/html/config.js

# BackstopJS Config Files
backstop*.json

*.csv
!sample-csv-file-advanced.csv
!sample-csv-file-simple.csv
